/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
search-input,
button,
textarea {
  font-family: inherit;
}
search-input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} /*--------------------*/

body {
  background-color: #212121;
  color: #bbbbbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
p {
  margin: 40px 20px;
  text-align: right;
}
a {
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
img {
  width: auto;
  height: 100%;
}
.poster {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 10vh;
  width: auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#single {
  width: 115vh;
  height: auto;

}
#single,
#single > * {
  text-align: center;
  margin: 0 auto;
    border-radius: 10px;
}
#english,
#all {
  width: auto;
  display: block;
  height: 450px;
  flex: 1;
  margin: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  max-width: 45%;
}
#all > * {
  border-radius: 10px;
  /* Замените 10px на нужное вам значение радиуса */
}
@media (max-width: 960px) {
  #english,
  #all,
  #all > * {
    flex-basis: calc(100% - 20px);
  }
  p {
    text-align: left;
  }
}
@media (max-width: 780px) {
  #english,
  #all,
  #all > * {
    height: 300px;
    width: 100%;
  }
  img{
    width: 50%;
    height: auto;
  }
}

@media (max-width: 480px) {
  #english,
  #all,
  #all > * {
    height: 250px;
    max-width: 95%;
  }
}form {
    margin-bottom: 50px;
    
  }

  .search-input {
    min-width: 20%;
    min-height: 35px;
    color: #dddddd;
    outline: none;
    transition: 0.35s;
    padding: 0px 15px;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), .5px .5px 10px rgba(255, 255, 255, 0.6);

    box-sizing: border-box;
    margin: 10px 20px 0 20px;
  }

  .search-input:focus {
    box-shadow: .5px .5px 10px rgba(255, 255, 255, 0.6)
  }

  .search-btn {
    padding: 5px 35px;
    cursor: pointer;
    background-color: #212121;
    border-radius: 6px;
    border: 1px solid #212121;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1), 1px 1px 10px rgba(255, 255, 255, 0.6);
    color: #dddddd;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
     margin: 10px 20px 0 20px;
  }

  .search-btn:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 1), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }

  .search-btn:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 1), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  @media (max-height: 400px) {
    
    body {
      overflow: auto;
    }
    #clearButton{
      margin-top: 260px;
    }
    /* .wrapper{
      display: block;
      width: 100%;
      text-align: right;
    }
    #english{
      text-align: center;
      width: 100%;
      height: 100vh;
    } */
   
  }

  @media (max-width: 960px) {
    form{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
    }
    .form .form_front {
      width: 95%;
    }

    .form_details {
      display: none;
    }

    .search-input {
      width: 60%;
    }

    .search-btn {
      padding: 5px 10%;
    }
  }
 #clearButton{
      color:#212121;
      background-color: #212121;
    }
  
